<%- include("../admin/layouts/adminHeader.ejs") %>
<%- include("../admin/layouts/adminSidebar.ejs") %>
<%- include("../admin/layouts/adminNavbar.ejs") %>

<style>
    .custom-dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    padding: 8px;
    width: 200px;
    font-size: 14px;
}

.custom-dropdown option {
    background-color: #fff;
    color: #333;
}

</style>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <% if (order) { %>
            <!-- Order Details -->
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Order Details</h3>
                    <p><strong>Order ID:</strong> <%= order._id %></p>
                    <p><strong>User Name:</strong> <%= order.userName %></p>
                    <p><strong>Delivery Address:</strong> <%= order.deliveryAddress %></p>
                    <p><strong>Payment Method:</strong> <%= order.payment %></p>
                    <p><strong>Total Price:</strong> ₹ <%= order.totalAmount %></p>
                    <p><strong>Date:</strong> <%= order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></p>
                    <p><strong>Expected Delivery:</strong> <%= order.expectedDelivery.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></p>
                </div>
            </div>

            <!-- Product Details -->
        
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-white">Product</th>
                            <th class="text-white">Quantity</th>
                            <th class="text-white">Price</th>
                            <th class="text-white">Total Price</th>
                            <th class="text-white">Change Status</th>
                            <th class="text-white">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.products.forEach((product) => { %>
                        <tr>
                            <td class="text-white">
                                <img src="/adminassets/productImages/<%= product.productId.image[0] %>" alt="<%= product.productId.name %>">
                                <%= product.productId.name %>
                            </td>
                            <td class="text-white"><%= product.quantity %></td>
                            <td class="text-white">₹ <%= product.price %></td>
                            <td class="text-white">₹ <%= product.totalPrice %></td>
                            <td class="text-white">
                                <form action="/admin/order-details" method="post">
                                    <select name="status" id="statusDropdown" class="custom-dropdown" aria-valuenow="<%= product.status %>">
                                        <option value="placed" <% if (product.status === 'placed') { %> selected <% } %>>Placed</option>
                                        <option value="processing" <% if (product.status === 'processing') { %> selected <% } %>>Processing</option>
                                        <option value="shipped" <% if (product.status === 'shipped') { %> selected <% } %>>Shipped</option>
                                        <option value="out for delivery" <% if (product.status === 'out for delivery') { %> selected <% } %>>Out for Delivery</option>
                                        <option value="delivered" <% if (product.status === 'delivered') { %> selected <% } %>>Delivered</option>
                                        <option value="cancelled" <% if (product.status === 'cancelled') { %> selected <% } %>>Cancelled</option>
                                    </select>
                                <input type="hidden" value="<%= product._id %>" name="pid">
                                <input type="hidden" value="<%= order._id %>" name="oid">
                            </td>
                            <td>
                                <button  class="btn btn-primary" type="submit">Update</button>
                            </td>
                              </form>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
      
            <% } %>
        </div>
    </div>
</div>



<%- include("../admin/layouts/adminFooter.ejs") %>