<%- include("../user/layouts/userheader.ejs") %>

 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form>
                            <input type="text" placeholder="Search..." name="search">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="/shop?filter=All<% if(search) { %>&&search=<%= search %><% } %><% if (sort) { %>&&sort=<%= sort %><% } %>">All</a></li>
                                                <% categories.forEach(category => { %>
                                                  <li><a href="/shop?filter=<%= category.name %><% if (search) { %>&&search=<%= search %><% } %><% if (sort) { %>&&sort=<%= sort %><% } %>"> <%= category.name %> </a></li>
                                                <% }) %>
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing <%= currentPage %> - <%= totalPages %></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select id="sort-select" name="sort" onchange="updateSortValue()" >
                                    <option value="Low To High">Low To High</option>
                                    <option value="High To Low">High To Low</option>
                                </select>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% products.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <a href="/shop-details?id=<%= product._id %>">
                            <div class="product__item__pic set-bg" data-setbg="/adminassets/productImages/<%= product.image[0] %>"></div>
                            </a>
                            <div class="product__item__text">
                                <h6><%= product.name %></h6>
                                <!-- <a href="#" class="add-cart">+ Add To Cart</a> -->
                                <div class="rating">
                                    <% for (let i = 0; i < product.rating; i++) { %>
                                    <i class="fa fa-star"></i>
                                    <% } %>
                                    <% for (let i = product.rating; i < 5; i++) { %>
                                    <i class="fa fa-star-o"></i>
                                    <% } %>
                                </div>
                                <h5>₹<%= product.price %></h5>
                               
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <% for (let i=1 ; i <= totalPages ; i++) { %> 
                                <a href="?page=<%= i %>"><%= i %></a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<script>

    function updateSortValue() {

    const sortKey = document.getElementById('sort-select').value
    if(sortKey) {
        window.location.href = `/shop?sort=${sortKey}`
    }

    }

</script>

<%- include("../user/layouts/userfooter.ejs") %>