<%- include("../user/layouts/userheader.ejs") %>

    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>View Details</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/">Profile</a>
                            <span>View Details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div id="reloadDiv">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <% if (order && order.products) { %>
                <div class="shopping__cart__table">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.products.forEach((cart) => { %>
                                <tr class="cart-item">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="/adminassets/productImages/<%= cart.productId.image[0] %>"
                                                alt="" style="height: 100px; width: 100px;">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6><%= cart.productId.name %></h6>
                                            <h5>₹<%= cart.productId.price %></h5>
                                        </div>
                                        <input type="hidden" name="orderId" id="orderId" value="<%= order._id %>">
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="<%= cart.quantity %>" readonly>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ <%= cart.totalPrice %></td>
                                    <td>
                                        <h5><%= cart.status %></h5>
                                    </td>
                                    <td>
                                        <% if (cart.status === 'delivered') { %>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#returnModal<%= cart._id %>">
                                            Return
                                        </button>
                                        <% } else if (cart.status === 'cancelled') { %>
                                            <p></p>
                                        <% } else if (cart.status === 'returned') { %> 
                                            <p></p>   
                                        <% } else { %> 
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#cancelModal<%= cart._id %>">
                                            Cancel
                                        </button>
                                        <% } %>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
    
    
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Address Details</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Date</th>
                                <th scope="col">Delivery by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= order._id %>
                                </td>
                                <td>
                                    <%= order.userName %>
                                </td>
                                <td>
                                    <%= order.deliveryAddress %>
                                </td>
                                <td>
                                    <%= order.payment %>
                                </td>
                                <td>₹ <%= order.totalAmount %>
                                </td>
                                <td>
                                    <%= order.date.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' ,
                                        day: '2-digit' }).replace(/\//g,'-') %>
                                </td>
                                <td>
                                    <%= order.expectedDelivery.toLocaleDateString('en-US', { year: 'numeric' ,
                                        month: 'short' , day: '2-digit' }).replace(/\//g,'-') %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    <% if (order && order.products) { %>
    <% order.products.forEach((cart) => { %>
    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal<%= cart._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Reason for cancellation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-check">
                                    <input type="radio" id="cancelReason" name="cancelReason" value="Change of Mind"
                                        required>
                                    <label>Change of Mind</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="cancelReason" name="cancelReason"
                                        value="Shipping or Delivery Concerns" required>
                                    <label>Shipping or Delivery Concerns</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="cancelReason" name="cancelReason" value="Payment Issues"
                                        required>
                                    <label>Payment Issues</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" onclick="cancelOrder('<%= cart._id %>')"
                                    class="btn btn-danger">Cancel</button>
                            </div>
            </div>
        </div>
    </div>
    
    <!-- Return Modal -->
    <div class="modal fade" id="returnModal<%= cart._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Reason for return</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input type="radio" id="returnReason" name="returnReason" value="Defective Product"
                            required>
                        <label>Defective Product</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="returnReason" name="returnReason"
                            value="Wrong Item Received" required>
                        <label>Wrong Item Received</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="returnReason" name="returnReason" value="Size or Fit Issues"
                            required>
                        <label>Size or Fit Issues</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="returnOrder('<%= cart._id %>')"
                        class="btn btn-danger">Return</button>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
    <% } %>
    
    


<script>

function cancelOrder(cartId) {

const cancelReason = document.querySelector('input[name="cancelReason"]:checked').value;
const id = document.getElementById('orderId').value
console.log(id);

    $.ajax({
        url: '/cancel-order',
        method: 'post',
        data: {
            crId: cartId,
            reason: cancelReason,
            id
            },
            success: (response) => {
            if (response.success) {
                Swal.fire({
                    title: 'Cancelled',
                    icon: 'success',
                    text: 'Order Cancelled Successfully',
                    timer: 1500
                }).then(() => {
                       location.reload()
                    });
                } else {
                    Swal.fire({
                    title: 'Error',
                    icon: 'error',
                    text: 'Order Cancellation Failed',
                    timer: 1500
                });
            }
        }
    });
}


function returnOrder(cartId) {

const returnReason = document.querySelector('input[name="returnReason"]:checked').value;
const id = document.getElementById('orderId').value

$.ajax({
    url: '/return-order',
    method: 'post',
    data: {
        crId: cartId,
        reason: returnReason
    },
    success: (response) => {
        if (response.success) {
            Swal.fire({
                title: 'Returned',
                icon: 'success',
                text: 'Order Returned Successfully',
                timer: 1500
            }).then(() => {
                location.reload()
            });
        } else {
            Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'Order Return Failed',
                timer: 1500
            });
        }
    }
});
}


</script>



<%- include("../user/layouts/userfooter.ejs") %>